name: build-and-release

on:
  workflow_dispatch:

permissions: write-all

jobs:
  core:
    name: build-and-release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Projects
        uses: actions/checkout@main

      - name: Initialization Environment
        env:
          DEBIAN_FRONTEND: noninteractive
        run: |
          sudo apt update
          sudo apt install -y build-essential device-tree-compiler python3
          sudo -E systemctl daemon-reload
          sudo -E timedatectl set-timezone "Asia/Shanghai"

      - name: Initialization Values
        run: |
          echo "COMPILE_DATE=$(TZ=UTC-8 date +"%y.%m.%d-%H.%M.%S")" >> $GITHUB_ENV
          echo "UBOOT_VERSION=$(TZ=UTC-8 date +"%y%m%d.%H%M%S")" >> $GITHUB_ENV

      - name: Compile U-Boot
        run: |
          ./build.sh

          mv uboot-ipq60xx-emmc.bin uboot-ipq60xx-emmc-"$UBOOT_VERSION".bin

      - name: Release U-Boot
        uses: softprops/action-gh-release@master
        with:
          tag_name: ${{env.COMPILE_DATE}}
          files: ./uboot-ipq60xx-emmc-*.bin
          body_path: ./release_notes.md
